@import "./components/progressbar.css";
@import "./components/snackbar.css";
@import "./components/tabs.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-moz-selection {
		@apply bg-indigo-100;
	}
	::selection {
		@apply bg-indigo-100;
	}
	*:focus, button:focus {
		@apply outline-none ring-2 ring-indigo-300;
	}

	h1 {
		@apply text-3xl tracking-wide;
	}
	h2 {
		@apply text-xl font-medium;
	}
	h3 {
		font-weight: bold;
	}
	p {
		@apply leading-relaxed;
	}
	a {
		@apply text-gray-500 hover:underline;
	}
	button {
		@apply bg-gray-200 hover:bg-gray-900 hover:text-white p-2 m-2 rounded;
	}
	button.sm {
		@apply p-1 m-1 text-sm;
	}
	button.active {
		@apply bg-gray-900 text-white;
	}
	button svg {
		display: inline;
	}

	img.sprite {
		@apply inline mx-1;
		image-rendering: pixelated;
	}
	img.sprite.sm {
		width: 24px;
		height: 24px;
	}
	img.sprite.md {
		width: 48px;
		height: 48px;
	}
	img.sprite.lg {
		width: 64px;
		height: 64px;
	}
	img.sprite.xl {
		width: 96px;
		height: 96px;
	}
}

@layer components {

}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}